*{
    padding: 0;
    margin: 0;
}

html{
    font-family: Helvetica, sans-serif;
}

section{
    border: 5px solid black;
    margin: 2em;
    border-radius: 0.4em;
    padding: 2em;
    background-color: #1881b6;
    padding: 3em;
}

.text{
    display: block;
    position: relative;
    width: 60%;

}

#all .text .first{
    font-weight: bold;
    text-transform: uppercase;
    color: black;  
    font-size: 1.2em;
    font-weight: 750;
}

p.info{
    text-indent: 2em;
    font-size: 1.2em;
}

h1{
    color:white;
    padding: 1.5em 0;
    font-size: 2.5em;
    font-weight: 300;
}


img{
    display: block;
    position: absolute;
    width: 25%;
    left: 70%;
    top: 10%

}

button{
    margin: 2em;
    display: inline-block;
    margin-left: 15em;
}

button.red{
    background-color: red;
    color: white;
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 0.5em;
}

button.no-color{
    background-color: #1881b6;
    color: black;
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 0.5em;
}

