@import url(https://fonts.googleapis.com/css2?family=Mulish&display=swap);

*{
    padding: 0;
    margin: 0;
}

html{
    background-image: url(images/background.png);
    font-family: Mulish;
}

.container{
    background-image: url(images/form-background.png);
    width: 600px;
    border-radius: 1.5em;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 5em;
}


