#wrapper{
Width : 700px;
Height : 730px;
Border: 1px solid #000000;
Padding: 10px 20px;
background-color: #a6e1ec;
text-align: center;
}
h1{
    text-align: left;
}

h2{
    text-align: left;
}

img{
    width: 200px;
    margin-right: 10px;
    vertical-align: middle;
}

.text{
    color: #3f51b5;
}

li{
    width: 595px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    border: 1px solid #000000;
}